[Unit]
Description=Go Commands
After=network-online.target
Wants=network-online.target

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=%h/go/bin/go-commands
WorkingDirectory=%h/.local/go-commands
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
